<a name="personaltrainer" id="personaltrainer"></a>
<div class="conitainer-fliud text-center mr-bg-3 mr-col-1 py-5" >
    <img id="img-profile" class="rounded-circle" src="assets/img/ielpo.jpg">
    <h2 class="font-weight-bold ff-chelsea m-3">
      Personal Trainer
    </h2>
    <button type="button" class="btn btn-info mr-col-1" data-toggle="modal" data-target="#staticBackdrop">
      Información Personal
    </button>
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <h4 class="modal-title mr-col-4 ff-acme" id="staticBackdropLabel">Cristrian Ielpo</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mr-col-4 bg-light">
            22 años, Actualmente estudiando la carrera del profesorado de educación física. Recibido de instrumentador personal.
          </div>
          <div class="modal-footer bg-light">
            <button type="button" class="btn btn-info mr-col-1" data-dismiss="modal">Atras</button>
          </div>
        </div>
      </div>
    </div>
</div>
