<footer class="container-fluid m-0 p-0 mr-bg-7 mr-col-1 ">
  <div class="row m-0 p-2 py-3 d-flex justify-content-center">
    <div class="col-6 col-md-4 m-0 p-0">
      <div class="text-center ff-chelsea">
        <a href="https://www.instagram.com/cacheteielpo_/?hl=es-la">
          <img class="wt-35 m-1" src="assets/img/instagram-bosquejado.svg">
        </a>
        Instagram
      </div>
    </div>
    <div class="col-6 col-md-4 m-0 p-0">
      <div class="text-center ff-chelsea">
        <a href="https://www.facebook.com/crisstiann.ielpo">
          <img class="wt-35 m-1" src="assets/img/facebook.svg">
        </a>
        Facebook
      </div>
    </div>
    <div id="floating-wp">
      <a href="https://api.whatsapp.com/send?phone=[54][1165551423]">
        <img class="wt-45 m-1" src="assets/img/whatsapp.svg">
      </a>
    </div>
  </div>
  <div class="text-center py-3">
    © 2020 Copyright: TomasWEB
  </div>
  <a name="footer" id="footer"></a>
</footer>
