#header {
  background-image: url(../../../assets/img/personaltrainer.jpg);
  background-size: cover;
  width: 100%;
  height: 600px;
  overflow: hidden;
}

#back-flush {
  background-color: rgba(1,1,1,.5);
}

#banner-welcome {
  padding-top: 200px;
}

#div-nav-bg {
  border-radius: 4px;
}

#icons-nav {
  border-color: transparent !important;
}

#bg-hover:hover {
  background-color: rgba(255, 255, 255, 0.171);
  border-radius: 3px;
}

@media (max-width: 450px) {
  #header {
    background-image: url(../../../assets/img/personaltrainer2.jpg);
  }
}
