<section id="header">
  <div id="back-flush" class="w-100 h-100">
    <nav id="div-nav-bg" class="container navbar navbar-expand-lg navbar-light  fixed-top mr-bg-0">
      <a class="navbar-brand mr-col-1 font-weight-bold ff-chelsea" href="#">Mi Rutina</a>
      <button id="icons-nav" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <i id="icons-nav" class="fas fa-list fs-30 mr-col-1"></i>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a id="bg-hover" class="nav-link mr-col-1 text-center ff-chelsea" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a id="bg-hover" class="nav-link mr-col-1 text-center ff-chelsea" href="#personaltrainer">Personal</a>
          </li>
          <li class="nav-item ">
            <a id="bg-hover" class="nav-link mr-col-1 text-center ff-chelsea" href="#servicios">Servicios</a>
          </li>
          <li class="nav-item">
            <a id="bg-hover" class="nav-link mr-col-1 text-center ff-chelsea" href="#tusmetas">Tus metas</a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="banner-welcome" class="container-fluid text-center pt-200px">
      <p class="mr-col-1 fs-22 ">
        Bienvenidos a nuestro sitio Web
      </p>
      <h1 class="mr-col-1 font-weight-bold ff-chelsea">
        ENTRENAMIENTO PERSONAL
      </h1>
      <a class="btn btn-info" href="#footer">
        Contacto
      </a>
    </div>
  </div>
</section>
