<a name="servicios" id="servicios"></a>
<section id="servicios">
  <h1 class="text-center font-weight-bold py-4 ff-chelsea">
    Nuestros Sevicios
  </h1>
  <div class="container-fluid m-0 p-4">
    <div class="row m-0 p-0">
      <div class="col-md-4 m-0 p-0 text-center">
        <i id="icons-services" class="far fa-grin-beam mr-col-3 m-3"></i>
        <div class="h3 font-weight-bold ff-chelsea">
          Generar tu bienestar
        </div>
        <p>
          Servicio de rutinas diarias para mejorar y obtener un mejor bienestar.
        </p>
      </div>
      <div class="col-md-4 m-0 p-1 text-center">
        <i id="icons-services" class="fas fa-walking mr-col-3 m-3"></i>
        <div class="h3 font-weight-bold ff-chelsea">
          Regenerar fisicamente tu cuerpo
        </div>
        <p>
          Empeza a difrutar tu cuerpo de la manera que siempre deseaste fisicamente.
        </p>
      </div>
      <div class="col-md-4 m-0 p-1 text-center">
        <i id="icons-services" class="fas fa-home mr-col-3 m-3"></i>
        <div class="h3 font-weight-bold ff-chelsea">
          Implentar actividades
        </div>
        <p>
          Trabajá de manera creativa, en lugares donde te sientas mas comodo.
        </p>
      </div>
    </div>
  </div>
</section>
