<a name="tusmetas" id="tusmetas"></a>
<section class="mr-bg-5 py-4">
  <div class="mr-col-1 h1 font-weight-bold text-center pb-2 mr-col-6 ff-chelsea">
    Tus Metas
  </div>
  <div class="mr-col-1 text-center pb-2">
    <b>>>Tus metas son nuestras<<</b>
  </div>
  <div  class="container-fluid m-0 px-4">
    <div id="div-metas-info" class="mr-col-1 p-3">
      Es una pagina personal donde se trabaja para brindarte resultados reales, elaborando todo tipo de programa de actividad fisica dirigidos a la salud y bienestar, de esa manera podes lograr con tan solo rutinas diarias un mejor bienestar y mejores condiciones fisicas.
    </div>
    <div class="mr-col-1 py-3">
      <b>En tu casa:</b> En la comodidad de tu hogar con o sin equipos
    </div>
    <div class="mr-col-1 pb-3">
     <b>Al aire libre:</b> Donde vos elijas hacer la actividad
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
       Reducir peso
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
       Definir y esculpir
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
      Entrenamiento de resistencia
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
        Aumento de masa muscular
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
        Movilidad y flexibilidad
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
        Planificación y periodizacion en actividades deportivas
    </div>
    <div class="mr-col-1">
    <i class="fas fa-check mr-col-6 pr-1 pb-1"></i>
        Desarrollo de la velocidad, fuerza y potencia
    </div>
  </div>
</section>
