/*BACKGRAUND NAV*/
.mr-bg-nav { background-color: #000000b8; }

/* BACKGRAUND */
.mr-bg-0 { background-color: #000000a1 !important; }
.mr-bg-1 { background-color: #ffffff !important; }
.mr-bg-2 { background-color: #84a9ac  !important; }
.mr-bg-3 { background-color:  #1b5263 !important; }
.mr-bg-4 { background-color: #204051 !important; }
.mr-bg-5 { background-color: #252526 !important; }
.mr-bg-7 { background-color: #000000 !important ; }
.mr-bg-8 { background-color: #ffffff0d !important; }

/*COLOR*/
.mr-col-0 { color: #000000a1 !important; }
.mr-col-1 { color: #ffffff !important; }
.mr-col-2 { color: #84a9ac !important; }
.mr-col-3 { color:  #1b5263 !important; }
.mr-col-4 { color: #204051 !important; }
.mr-col-5 { color: #252526 !important; }
.mr-col-6 { color: goldenrod !important; }
.mr-col-7 { color: #000000 !important; }

/* FONT-SIZES */
.fs-22 { font-size: 22px; }
.fs-30 { font-size: 30px; }
.fs-20 { font-size: 20px; }

/*WIDTH SIZES*/
.wt-20 { width: 20px; }
.wt-21 { width: 21px; }
.wt-22 { width: 22px; }
.wt-23 { width: 23px; }
.wt-24 { width: 24px; }
.wt-35 { width: 35px; }
.wt-45 { width: 45px; }

/* FONTS FAMILY */
@font-face {
  font-family: "AlexBrush";
  src: url("assets/fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: "Acme";
  src: url("assets/fonts/Acme-Regular.ttf");
}

@font-face {
  font-family: "Chelsea";
  src: url("assets/fonts/ChelseaMarket-Regular.ttf");
}

.ff-alexbrush { font-family: "AlexBrush" !important; }
.ff-acme { font-family: "Acme" !important; }
.ff-chelsea { font-family: "Chelsea" !important; }
